@model BePreferenceCentre.DAL.InkeyAnswer
<tr>
    <td>@Model.ProductName</td>
    <td>@Model.Question</td>
    <td>@Model.Answer</td>
    @*<td>@Model.ProductImageLink</td>
    <td>@Model.ProductLink</td>
    <td>@Model.InstructionsForUse</td>*@
</tr>

