@model BePreferenceCentre.ViewModels.InkeyViewModel
@using BePreferenceCentre.Helpers
@using BePreferenceCentre.DAL;
@{
    ViewBag.Title = "InkeyAnswerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="inkey-jumbo">

</div>

<div class="container-questions">
    <div class="content animate-panel">
        @using (Html.BeginForm("InkeyAnswerForm", "Admin", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="row" id="buttons">
                <div class="col-lg-3">
                    <input type="submit" class="btn btn-primary" value="Submit Booking" id="subbtn" />
                </div>
                <div class="col-lg-3">
                    <a href="@Url.Action("InkeyHelp", "Admin")" class="btn btn-info float-right" id="inkeyHelper">Inkey Helper</a>
                </div>
                <div class="col-lg-3">
                    <a href="@Url.Action("ProductManager", "Admin")" class="btn  btn-secondary float-right" id="inkeyHelper">Product Manager</a>
                </div>

                <div class="col-lg-3 showAnswersBtn">
                    <a href="#" onclick="ShowAnswers()" class="btn  btn-warning float-right" id="inkeyHelper">Show Answers</a>
                </div>
                <div class="col-lg-3 showFormBtn">
                    <a href="#" onclick="ShowForm()" class="btn  btn-success float-right" id="inkeyHelper">Show Form</a>
                </div>
            </div>


            <div class="row" id="inkeyform">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.ProductName, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @*@Html.TextBoxFor(m => m.answer.ProductName, new { @class = "form-control boxsizingBorder" })*@
                                    @Html.DropDownListFor(m => m.answer.ProductName, DropDownLists.GetDropDownListForInkeyProducts(), "- Select Product Name -", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.ProductName, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.Question, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(m => m.answer.Question, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.Question, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.Answer, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(m => m.answer.Answer, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.Answer, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.ProductImageLink, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.answer.ProductImageLink, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.ProductImageLink, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.ProductLink, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.answer.ProductLink, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.ProductLink, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.InstructionsForUse, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-12">
                                    @*<textarea name="answer.InstructionsForUse" id="InstructionsForUse"></textarea>*@
                                    @Html.TextAreaFor(m => m.answer.InstructionsForUse, new { @class = "col-sm-2 control-label" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="answers">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table cellpadding="20" cellspacing="20" class="table-responsive table-striped" id="inkey-answers">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Edit</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InkeyAnswer answer in Model.InkeyAnswers)
                            {
                                Html.RenderPartial("Partials/_inkeyAnswers", answer);
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 subButt">
                    <input type="submit" class="btn btn-primary float-left" value="Submit Booking" id="subbtn" />
                </div>
                <div class="col-lg-3">
                    <a href="@Url.Action("InkeyHelp", "Admin")" class="btn btn-info float-left" id="inkeyHelper">Inkey Helper</a>
                </div>
                <div class="col-lg-3">
                    <a href="@Url.Action("ProductManager", "Admin")" class="btn  btn-secondary float-left" id="inkeyHelper">Product Manager</a>
                </div>

                <div class="col-lg-3 showAnswersBtn">
                    <a href="#" onclick="ShowAnswers()" class="btn  btn-warning float-left" id="inkeyHelper">Show Answers</a>
                </div>
                <div class="col-lg-3 showFormBtn">
                    <a href="#" onclick="ShowForm()" class="btn  btn-success float-left" id="inkeyHelper">Show Form</a>
                </div>
            </div>



        }
    </div>
</div>
@section Styles {
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/datatables")
}
@section Scripts {

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/summernote/summernote-bs4.min.js"></script>
    @Scripts.Render("~/bundles/datatables")
    <script>
        ShowForm();

        $(document).ready(function () {
            $('#answer_InstructionsForUse').summernote({
                height: 300
            });

            $('#answer_Question').val("");
            $('#answer_Answer').val("");
            $('#answer_ProductImageLink').val("");
            $('#answer_ProductLink').val("");
        });


        $('#answer_ProductName').on('change', function () {
            console.log("ID : " + $("#answer_ProductName").val());
            $.ajax({
                url: "../Admin/GetProductLinks?id=" + $("#answer_ProductName").val(),
                type: "GET",
            })
                .done(function (result) {
                    var returnedString = result.split(",");
                    $('#answer_ProductImageLink').val(returnedString[0]);
                    $('#answer_ProductLink').val(returnedString[1]);
                });

            return false;
        });

        function ShowForm() {
            $('#answers').hide();
            $('.showFormBtn').hide();
            $('.showAnswersBtn').show();
            $('#inkeyform').show();
            $('.subButt').show();

            var table = $('#inkey-answers').DataTable();
            table.destroy();
        }

        function ShowAnswers() {
            $('#answers').show();
            $('.showFormBtn').show();
            $('.showAnswersBtn').hide();
            $('#inkeyform').hide();
            $('.subButt').hide();

            var table = $('#inkey-answers').DataTable({
                responsive: true
            });

            new $.fn.dataTable.FixedHeader(table);

        }

    </script>

}