@model BePreferenceCentre.ViewModels.InkeyViewModel
@using BePreferenceCentre.DAL;
@{
    ViewBag.Title = "InkeyAnswerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="inkey-jumbo">
   
</div>

<div class="container-questions">
    <div class="content animate-panel">
        @using (Html.BeginForm("InkeyAnswerForm", "Admin", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.ProductName, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.answer.ProductName, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.ProductName, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.Question, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(m => m.answer.Question, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.Question, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.Answer, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(m => m.answer.Answer, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.Answer, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.ProductImageLink, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.answer.ProductImageLink, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.ProductImageLink, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.ProductLink, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.answer.ProductLink, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.ProductLink, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.InstructionsForUse, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(m => m.answer.InstructionsForUse)
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="submit" class="btn btn-lg btn-primary" value="Submit Booking" id="subbtn" />
                                </div>
                                <div class="col-lg-6">
                                    <a href="@Url.Action("InkeyHelp", "Admin")" class="btn btn-lg btn-info float-right" id="inkeyHelper">Inkey Helper</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-12">
                    <table cellpadding="20" cellspacing="20" class="table-responsive table-striped" id="inkey-answers">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Question</th>
                                <th>Answer</th>
                                @*<th>Product Image Link</th>
                                    <th>Product Link</th>
                                    <th>Instructions For Use</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InkeyAnswer answer in Model.InkeyAnswers)
                            {
                                Html.RenderPartial("Partials/_inkeyAnswers", answer);
                            }
                        </tbody>
                    </table>
                </div>
            </div>


        }
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $('#answer_InstructionsForUse').summernote();

        $('#answer_Question').val("");
        $('#answer_Answer').val("");
        $('#answer_ProductImageLink').val("");
        $('#answer_ProductLink').val("");


        //var table = $('#inkey-answers').DataTable({
        //    responsive: true
        //});

        //new $.fn.dataTable.FixedHeader(table);

        

       
    });

</script>