@model BePreferenceCentre.ViewModels.InkeyViewModel
    @using BePreferenceCentre.Helpers
@using BePreferenceCentre.DAL;
@{
    ViewBag.Title = "InkeyAnswerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="inkey-jumbo">

</div>

<div class="container-questions">
    <div class="content animate-panel">
        @using (Html.BeginForm("InkeyAnswerForm", "Admin", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {

            <div class="row" id="inkeyform">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.ProductName, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @*@Html.TextBoxFor(m => m.answer.ProductName, new { @class = "form-control boxsizingBorder" })*@
                                    @Html.DropDownListFor(m => m.answer.ProductName, DropDownLists.GetDropDownListForInkeyProducts(), "- Select Product Name -", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.ProductName, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.Question, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(m => m.answer.Question, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.Question, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.Answer, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(m => m.answer.Answer, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.Answer, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.ProductImageLink, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.answer.ProductImageLink, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.ProductImageLink, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.ProductLink, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.answer.ProductLink, new { @class = "form-control boxsizingBorder" })

                                </div>
                            </div>
                            <div class="col-sm-offset-2">
                                @Html.ValidationMessageFor(m => m.answer.ProductLink, "", new { @class = "text-danger" })
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.answer.InstructionsForUse, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-12">
                                    <textarea name="answer.InstructionsForUse" id="InstructionsForUse"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="answers">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table cellpadding="20" cellspacing="20" class="table-responsive table-striped" id="inkey-answers">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Edit</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (InkeyAnswer answer in Model.InkeyAnswers)
                            {
                                Html.RenderPartial("Partials/_inkeyAnswers", answer);
                            }
                        </tbody>
                    </table>
                </div>
            </div>

           
            <div class="row">
                <div class="col-lg-3">
                    <input type="submit" class="btn btn-primary" value="Submit Booking" id="subbtn" />
                </div>
                <div class="col-lg-3">
                    <a href="@Url.Action("InkeyHelp", "Admin")" class="btn btn-info float-right" id="inkeyHelper">Inkey Helper</a>
                </div>
                <div class="col-lg-3">
                    <a href="@Url.Action("ProductManager", "Admin")" class="btn  btn-secondary float-right" id="inkeyHelper">Product Manager</a>
                </div>

                <div class="col-lg-3" id="showAnswersBtn">
                    <a href="#" onclick="ShowAnswers()" class="btn  btn-warning float-right" id="inkeyHelper">Show Answers</a>
                </div>
                <div class="col-lg-3" id="showFormBtn">
                    <a href="#" onclick="ShowForm()" class="btn  btn-success float-right" id="inkeyHelper">Show Form</a>
                </div>
            </div>
            


        }
    </div>
</div>

<!-- include libraries(jQuery, bootstrap) -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
@*<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">*@

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
@*<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>*@
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>


<!-- include summernote css/js -->
@*<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.css" rel="stylesheet">
@*<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.js"></script>
<script>

    $(document).ready(function () {
        $('#InstructionsForUse').summernote();

        $('#answer_Question').val("");
        $('#answer_Answer').val("");
        $('#answer_ProductImageLink').val("");
        $('#answer_ProductLink').val("");

        ShowForm();
        //var table = $('#inkey-answers').DataTable({
        //    responsive: true
        //});

        //new $.fn.dataTable.FixedHeader(table);

    });

    function ShowForm() {
        $('#answers').hide();
        $('#showFormBtn').hide();
        $('#showAnswersBtn').show();
        $('#inkeyform').show();
    }

    function ShowAnswers() {
        $('#answers').show();
        $('#showFormBtn').show();
        $('#showAnswersBtn').hide();
        $('#inkeyform').hide();
    }

</script>

