@model IEnumerable<BePreferenceCentre.DAL.InkeyUserQuestion>
@using BePreferenceCentre.DAL
@{
    ViewBag.Title = "UserQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="inkey-jumbo">

</div>



<table cellpadding="20" cellspacing="20" class="table" id="inkey-answers" style="width:">
    <thead>
        <tr>
            <th>Questions</th>
            <th>Email</th>
            <th>Date/Time Asked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (InkeyUserQuestion userQuest in Model.OrderBy(c => c.Created))
        {
            <tr>
                <td>@userQuest.UserQuestion</td>
                <td>@userQuest.userEmail</td>
                <td>@userQuest.Created</td>
            </tr>
        }
    </tbody>
</table>



<div class="row user-question-buttons">
        <div class="col-lg-4">
            <a href="@Url.Action("InkeyHelp", "Admin")" class="btn btn-info float-left" id="inkeyHelper">Inkey Helper</a>
        </div>
        <div class="col-lg-4">
            <a href="@Url.Action("ProductManager", "Admin")" class="btn  btn-secondary float-left" id="inkeyHelper">Product Manager</a>
        </div>
    </div>




@section Styles {
  
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
 }
   
@section Scripts {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    

    <script>
        var table = $('#inkey-answers').DataTable({
            "pageLength": 50
        });

        
    </script>
}

